name: Running bot
 
on: [push]

env:
  BOTUN: S
  BOTKEY: 1
  USERKEY: 12
  PASSWORD: ${{ secrets.PASSWORD }}
jobs:
  build:
    runs-on: ubuntu-latest
    timeout-minutes: 525600

    steps:
       - name: Checkout
         uses: actions/checkout@master
         
       - name: Initializing environment
         run: |
            sudo -E apt-get -qq update
            sudo apt install -y make python build-essential

       - name: Erfanise
         run: |            
            git clone --recurse-submodules https://github.com/rui-ports/erfany
            sudo su
            chmod -R 0777 erfany
            chmod u+x erfany/url2GSI.sh
            bash erfany/setup.sh     
                
       - name: Cloning bots
         run: |
            sudo su
            cd erfany/telegram_bot
            npm install
            node bot
