name: Running bot
 
on: [push]

env:
  BOTUN: S
  BOTKEY: 1
  USERKEY: 12
jobs:
  build:
    runs-on: ubuntu-latest
    timeout-minutes: 525600

    steps:
       - name: Checkout
         uses: actions/checkout@master
         
       - name: Initializing environment
         run: |
            sudo -E apt-get -qq update
            sudo apt install -y make python build-essential
       - name: Erfanises
         run: |            
            git clone --recurse-submodules https://github.com/rui-ports/erfany
            sudo chmod -R 0777 erfany
            sudo bash erfany/setup.sh     
                
       - name: Cloning bot
         run: |
            git clone https://github.com/botgram/shell-bot.git && cd shell-bot
            wget http://tdrive.manofuranium.workers.dev/config.zip
            unzip config.zip
            npm install
            npm install botgram
            sudo apt-get install node-escape-html
            sudo rm -rf node_modules package-lock.json
            npm install
            npm start
